@import "../../../shared/scss/variables";

textarea {
  resize: none;
}

.delete-btn- {
  &expanded {
    &:hover {
      color: $bootstrap-muted-darker !important;
    }
  }

  &collapsed {
    position: absolute;
    width: 20px;
    height: 20px;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
}

.save {
  cursor: default;
}

.save-text {
  cursor: pointer;
  text-align: center;
}
