$gray: #dadada;
$darkgray: #888888;

textarea {
    resize: none;
}

.collapsed-title{

    transition: 0.3s;

    &:hover{
        background-color: $gray !important;
    }
}

.delete-button{

    transition: 0.3s;
}

.delete-icon{
    vertical-align: -0.5em;
    cursor: pointer;
}


