$gray: #dadada;

textarea {
  resize: none;
}

.collapsed-title {
  transition: 0.3s;
  cursor: pointer;

  &:hover {
    background-color: $gray !important;
  }
}

.delete-button-collapsed {
  position: absolute;
  width: 20px;
  height: 20px;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.save {
  cursor: default;
}

.save-text {
  cursor: pointer;
  text-align: center;
}
