<div class="container-md bg-light py-1">
  <form>
    <div [id]="'add-event-item' + itemId" class="row m-4">
      <div class="col-md-6 mt-3">
        <label [for]="'aei-' + itemId + '-title'" class="form-label"
          >Titre</label
        >
        <input
          type="text"
          class="form-control"
          [id]="'aei-' + itemId + '-title'"
        />
      </div>
      <div class="col-md-6 mt-3">
        <label [for]="'aei-' + itemId + '-duration'" class="form-label"
          >Durée en heures</label
        >
        <input
          type="number"
          step="0.5"
          class="form-control"
          [id]="'aei-' + itemId + '-duration'"
        />
      </div>
      <div class="col-md-6 mt-3">
        <label [for]="'aei-' + itemId + '-priority'" class="form-label"
          >Priorité</label
        >
        <select [id]="'aei-' + itemId + '-priority'" class="form-select">
          <option selected>Choisir priorité...</option>
          <option value="PLACEHOLDER 1">Basse</option>
          <option value="PLACEHOLDER 2">Moyenne</option>
          <option value="PLACEHOLDER 3">Haute</option>
          <option value="PLACEHOLDER 4">Urgent</option>
        </select>
      </div>
      <div class="col-md-6 mt-3">
        <label [for]="'aei-' + itemId + '-calendar'" class="form-label"
          >Calendrier</label
        >
        <select [id]="'aei-' + itemId + '-calendar'" class="form-select">
          <option selected>Choisir calendrier...</option>
          <option value="PLACEHOLDER 1">PLACEHOLDER 1</option>
          <option value="PLACEHOLDER 2">PLACEHOLDER 2</option>
          <option value="PLACEHOLDER 3">PLACEHOLDER 3</option>
          <option value="PLACEHOLDER 4">PLACEHOLDER 4</option>
        </select>
      </div>
    </div>

    <hr />
    <div class="row m-4" *ngIf="true">
      <div class="col-md-3 mt-3">
        <label [for]="'aei-' + itemId + '-localisation'" class="form-label"
          >Localisation :</label
        >
        <input
          type="text"
          class="form-control"
          [id]="'aei-' + itemId + '-localisation'"
          [disabled]="fixedEvent"
        />
      </div>
      <div class="col-md-3 mt-3">
        <label [for]="'aei-' + itemId + '-instance-total'" class="form-label"
          >Nombre d'instances :</label
        >
        <input
          min="0"
          type="number"
          class="form-control"
          [id]="'aei-' + itemId + '-instance-total'"
          [disabled]="fixedEvent"
        />
      </div>

      <div class="col-md-3 mt-3">
        <label [for]="'aei-' + itemId + '-instance-min'" class="form-label"
          >Min d'instances par jour :</label
        >
        <input
          type="number"
          class="form-control"
          [id]="'aei-' + itemId + '-instance-min'"
          [disabled]="fixedEvent"
        />
      </div>

      <div class="col-md-3 mt-3">
        <label [for]="'aei-' + itemId + '-instance-max'" class="form-label"
          >Max d'instances par jour :</label
        >
        <input
          type="number"
          class="form-control"
          [id]="'aei-' + itemId + '-instance-max'"
          [disabled]="fixedEvent"
        />
      </div>

      <div class="col-md-2 mt-3">
        <label [for]="'aei-' + itemId + '-lower'" class="form-label"
          >Borne inférieure :</label
        >
        <input
          type="time"
          class="form-control"
          [id]="'aei-' + itemId + '-lower'"
          [disabled]="fixedEvent"
        />
      </div>

      <div class="col-md-2 mt-3">
        <label [for]="'aei-' + itemId + '-higher'" class="form-label"
          >Borne supérieure :</label
        >
        <input
          type="time"
          class="form-control"
          [id]="'aei-' + itemId + '-higher'"
          [disabled]="fixedEvent"
        />
      </div>

      <div class="col-md-2 mt-3">
        <label [for]="'aei-' + itemId + '-higher'" class="form-label"
          >Minutes de marge :</label
        >
        <input
          type="number"
          min="0"
          class="form-control"
          [id]="'aei-' + itemId + '-higher'"
          [disabled]="fixedEvent"
        />
      </div>

      <div class="col-md-3 mt-3">
        <label [for]="'aei-' + itemId + '-higher'" class="form-label"
          >Date :</label
        >
        <input
          type="date"
          class="form-control"
          [id]="'aei-' + itemId + '-higher'"
          [disabled]="!fixedEvent"
        />
      </div>

      <div class="col-md-3 mt-3">
        <label [for]="'aei-' + itemId + '-higher'" class="form-label"
          >Heure :</label
        >
        <input
          type="time"
          class="form-control"
          [id]="'aei-' + itemId + '-higher'"
          [disabled]="!fixedEvent"
        />
      </div>

      <div class="col-md-12 mt-3">
        <div class="form-check form-switch mt-1">
          <input
            class="form-check-input"
            type="checkbox"
            [id]="'aei-' + itemId + 'consecutive-instances'"
            [checked]="consecutiveInstances"
            (change)="consecutiveInstances = !consecutiveInstances"
            [disabled]="fixedEvent"
          />
          <label
            class="form-check-label"
            [for]="'aei-' + itemId + 'consecutive-instances'"
            >Peuvent les instances se suivre ?</label
          >
        </div>
        <div class="form-check form-switch mt-1">
          <input
            class="form-check-input"
            type="checkbox"
            [id]="'aei-' + itemId + 'fixed-event'"
            [checked]="fixedEvent"
            (change)="onToggleFixedEvent()"
          />
          <label
            class="form-check-label"
            [for]="'aei-' + itemId + 'fixed-event'"
            >Est-ce un créneau fixe ?</label
          >
        </div>
      </div>

      <div class="col-md-12 mt-3">
        <div class="form-group">
          <label [for]="'aei-' + itemId + 'description'"
            >Description de l'événement :</label
          >
          <textarea
            class="form-control mt-2"
            [id]="'aei-' + itemId + 'description'"
            rows="3"
          ></textarea>
        </div>
      </div>
    </div>

    <div class="row m-4">
      <div class="col-md-12">
        <button
          (click)="onDeleteItem()"
          type="button"
          class="btn btn-danger mt-3"
          *ngIf="isDeletable"
        >
          Supprimer cette tâche &times;
        </button>
        <button type="button" class="btn link-primary">
          &plus; <u>Options avancées</u>
        </button>
      </div>
    </div>
  </form>
</div>
