<div class="container-md bg-light py-1 my-2">
  <form #addEvent="ngForm">
    <div [id]="'add-event-item' + itemId" class="row m-4 bg-light">
      <div class="col-md-3 mt-3">
        <label [for]="'aei-' + itemId + '-title'" class="form-label"
          >Titre</label
        >
        <input
          type="text"
          class="form-control"
          [id]="'aei-' + itemId + '-title'"
          name="title" ngModel
        />
      </div>
      <div class="col-md-3 mt-3">
        <label [for]="'aei-' + itemId + '-duration'" class="form-label"
          >Durée en heures</label
        >
        <input
          type="number"
          step="0.5"
          class="form-control"
          [id]="'aei-' + itemId + '-duration'"
          name="duration" ngModel
        />
      </div>
      <div class="col-md-3 mt-3">
        <label [for]="'aei-' + itemId + '-priority'" class="form-label"
          >Priorité</label
        >
        <select [id]="'aei-' + itemId + '-priority'" class="form-select" name="selectPriority" ngModel>
          <option selected>Choisir priorité...</option>
          <option value="PLACEHOLDER 1">Basse</option>
          <option value="PLACEHOLDER 2">Moyenne</option>
          <option value="PLACEHOLDER 3">Haute</option>
          <option value="PLACEHOLDER 4">Urgent</option>
        </select>
      </div>
      <div class="col-md-3 mt-3">
        <label [for]="'aei-' + itemId + '-calendar'" class="form-label"
          >Calendrier</label
        >
        <select [id]="'aei-' + itemId + '-calendar'" class="form-select" name="selectCalendar" ngModel>
          <option selected>Choisir calendrier...</option>
          <option value="">Personal</option>
          <option value="">Sport</option>
          <option value="">Work</option>
          <option value="s">Holidays</option>
        </select>
      </div>
    </div>

    <div class="row m-4 aei-advanced" *ngIf="advancedOptionsActive" [@advancedOptions]="getAdvancedOptionsAnimationState()">
      <hr />
      <div class="col-md-3 mt-3">
        <label [for]="'aei-' + itemId + '-location'" class="form-label"
          >Localisation :</label
        >
        <input
          type="text"
          class="form-control"
          [id]="'aei-' + itemId + '-location'"
          name="Localisation" ngModel
        />
      </div>
      <div class="col-md-3 mt-3">
        <label [for]="'aei-' + itemId + '-instance-total'" class="form-label"
          >Nombre d'instances :</label
        >
        <app-add-event-tooltip
          [content]="
            'Permet de préciser le nombre d\'instance de cet tâche à créer.'
          "
        ></app-add-event-tooltip>
        <input
          min="0"
          type="number"
          class="form-control"
          [id]="'aei-' + itemId + '-instance-total'"
          [disabled]="fixedEvent"
          (change)="setInstanceTotal($event.target.value)"
          value="1"
          name="instanceNumber" ngModel
        />
      </div>

      <div class="col-md-3 mt-3">
        <label [for]="'aei-' + itemId + '-instance-min'" class="form-label"
          >Min d'instances par jour :</label
        >
        <app-add-event-tooltip
          [content]="
            'Permet de préciser combien de fois au minimum une instance de cet évènement doit apparaitre par jour.'
          "
        ></app-add-event-tooltip>
        <input
          min="0"
          type="number"
          class="form-control"
          [id]="'aei-' + itemId + '-instance-min'"
          [disabled]="fixedEvent"
          name="minInstances" ngModel
        />
      </div>

      <div class="col-md-3 mt-3">
        <label [for]="'aei-' + itemId + '-instance-max'" class="form-label"
          >Max d'instances par jour :</label
        >
        <app-add-event-tooltip
          [content]="
            'Permet de préciser combien de fois au maximum une instance de cet évènement peut apparaitre par jour.'
          "
        ></app-add-event-tooltip>
        <input
          min="0"
          type="number"
          class="form-control"
          [id]="'aei-' + itemId + '-instance-max'"
          [disabled]="fixedEvent"
          name="maxInstances" ngModel
        />
      </div>

      <div class="col-md-2 mt-3">
        <label [for]="'aei-' + itemId + '-lower'" class="form-label"
          >Borne inférieure :</label
        >
        <app-add-event-tooltip
          [content]="
            'Permet de préciser une date à partir de laquelle une instance de cet évènement peut être créée.'
          "
        ></app-add-event-tooltip>
        <input
          type="time"
          class="form-control"
          [id]="'aei-' + itemId + '-lower'"
          [disabled]="fixedEvent"
          name="lowerBound" ngModel
        />
      </div>

      <div class="col-md-2 mt-3">
        <label [for]="'aei-' + itemId + '-higher'" class="form-label"
          >Borne supérieure :</label
        >
        <app-add-event-tooltip
          [content]="
            'Permet de préciser une date à ne pas dépasser pour la création d\'une instance de cet évènement.'
          "
        ></app-add-event-tooltip>
        <input
          type="time"
          class="form-control"
          [id]="'aei-' + itemId + '-higher'"
          [disabled]="fixedEvent"
          name="upperBound" ngModel
        />
      </div>

      <div class="col-md-2 mt-3">
        <label [for]="'aei-' + itemId + '-higher'" class="form-label"
          >Minutes de marge :</label
        >
        <app-add-event-tooltip
          [content]="
            'Permet de préciser la durée en minute avant et après les autres évènements.'
          "
        ></app-add-event-tooltip>
        <input
          type="number"
          min="0"
          class="form-control"
          [id]="'aei-' + itemId + '-higher'"
          [disabled]="fixedEvent"
          name="minuteMargin" ngModel
        />
      </div>

      <div class="col-md-3 mt-3">
        <label [for]="'aei-' + itemId + '-higher'" class="form-label"
          >Date :</label
        >
        <input
          type="date"
          class="form-control"
          [id]="'aei-' + itemId + '-higher'"
          [disabled]="!fixedEvent"
          name="date" ngModel
        />
      </div>

      <div class="col-md-3 mt-3">
        <label [for]="'aei-' + itemId + '-higher'" class="form-label"
          >Heure :</label
        >
        <input
          type="time"
          class="form-control"
          [id]="'aei-' + itemId + '-higher'"
          [disabled]="!fixedEvent"
          name="hour" ngModel
        />
      </div>

      <div class="col-md-12 mt-3">
        <div class="form-group">
          <label [for]="'aei-' + itemId + 'description'"
            >Description de l'événement :</label
          >
          <textarea
            class="form-control mt-2"
            [id]="'aei-' + itemId + 'description'"
            rows="3"
            name="description" ngModel
          ></textarea>
        </div>
      </div>

      <div class="col-md-12 mt-3">
        <div class="form-check form-switch mt-1">
          <input
            class="form-check-input"
            type="checkbox"
            [id]="'aei-' + itemId + 'consecutive-instances'"
            [checked]="consecutiveInstances"
            (change)="consecutiveInstances = !consecutiveInstances"
            [disabled]="isConsecutiveInstancesInputDisabled()"
            name="consecutive-instances" ngModel
          />
          <label
            class="form-check-label"
            [for]="'aei-' + itemId + 'consecutive-instances'"
            >Peuvent les instances se suivre ?</label
          >
        </div>
        <div class="form-check form-switch mt-1">
          <input
            class="form-check-input"
            type="checkbox"
            [id]="'aei-' + itemId + 'fixed-event'"
            [checked]="fixedEvent"
            (change)="onToggleFixedEvent()"
            name="fixed-event " ngModel
          />
          <label
            class="form-check-label"
            [for]="'aei-' + itemId + 'fixed-event'"
            >Est-ce un créneau fixe ?</label
          >
        </div>
      </div>
    </div>

    <div class="row m-4">
      <div class="col-md-12">
        <button
          type="button"
          class="btn link-primary"
          *ngIf="!advancedOptionsActive"
          (click)="setAdvancedOptionsActive(true)"
        >
          &plus; <u>Options avancées</u>
        </button>
        <button
          type="button"
          class="btn link-primary"
          *ngIf="advancedOptionsActive"
          (click)="setAdvancedOptionsActive(false)"
        >
          <u>Cacher les options avancées</u>
        </button>
        <button
          (click)="formEmpty(addEvent) ?  onDeleteItem() : onOpenDeleteModal (contentDelete)"
          type="button"
          class="btn btn-danger"
          *ngIf="isDeletable"
        >
          Supprimer cette tâche &times;
        </button>
      </div>
    </div>
  </form>
</div>

<!-- #contentDelete allows to display the modal correctly  -->

<ng-template #contentDelete let-modal>
  <div class="modal-header">
      <h4 class="modal-title" id="modal-title">Suppression d'évènement </h4>
      <button type="button" class="btn-close" aria-describedby="modal-title" (click)="modal.dismiss()"></button>
    </div>
    <div class="modal-body">
      <p><strong>Etes-vous sur de vouloir supprimer cet évènement ?</strong></p>
      <p>Toutes les informations liées à cet évènement seront définitivement supprimées.
      Cette opération est irréversible.
      </p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss()">Annuler</button>
      <button type="button" class="btn btn-danger" (click)="onDeleteItem()" (click)="modal.close()">Supprimer</button>
    </div>
</ng-template>


