#caption {
  width: auto;
  z-index: 2;
  background-color: white;
  text-align: center;
}

.rectangle {
  height: 18px;
  width: 36px;
  display: inline-block;
  margin-left: 10px;
}
.captionSpan {
  margin-right: 30px;
}
