<div id="nouvel-evenement" *ngIf="isVisible">
    <label>Titre :</label> 
    <input type="text">
    <label>Durée :</label>
    <input type="text">
    <br>
    <label>Priorité :</label>
    <input type="text">
    
    <select required>
        <option value="" disabled selected hidden>Choisir Calendrier...</option>
        <option value="PLACEHOLDER 1">PLACEHOLDER 1</option>
        <option value="PLACEHOLDER 2">PLACEHOLDER 2</option>
        <option value="PLACEHOLDER 3">PLACEHOLDER 3</option>
        <option value="PLACEHOLDER 4">PLACEHOLDER 4</option>
      </select>

      <button (click)="onDelete()">Enlever tache</button>
</div>
<br>
