<div class="container">
  <div class="row m-4">
    <h1 class="col-md-12">Ajouter evenement a un calendrier</h1>

    <div class="col-md-8 mt-2">
      <label for="ael-period" class="form-label">Période</label>
      <select id="ael-period" class="form-select">
        <option selected>Choisir la période...</option>
        <option value="">Un jour</option>
        <option value="">Une semaine</option>
        <option value="">Un mois</option>
      </select>
      <button
          (click)="openDeleteAll(contentDeleteAll)"
          type="button"
          class="btn btn-danger mt-2"
          *ngIf="isItemsLengthGreaterThan1()"
        >
        Supprimer tous les évènements
      </button>

    </div>
    <div class="col-md-4">
      <div class="row">
        <div class="col-md-6 mt-2">
          <label for="ael-lower" class="form-label">Borne inférieure :</label>
          <input
            type="time"
            [ngClass]="{
              'form-control': true,
              'is-invalid': errorMessageOn
            }"
            id="ael-lower"
            [(ngModel)]="lower"
            [max]="higher"
            (change)="onCheckBounds()"
          />
        </div>
        <div class="col-md-6 mt-2">
          <label for="ael-higher" class="form-label">Borne supérieure :</label>
          <input
            type="time"
            [ngClass]="{
              'form-control': true,
              'is-invalid': errorMessageOn
            }"
            class="form-control"
            id="ael-higher"
            [(ngModel)]="higher"
            [min]="lower"
            (change)="onCheckBounds()"
          />
        </div>

        <div class="col-md-12" *ngIf="errorMessageOn">
          <ngb-alert [dismissible]="false" [type]="'danger'" class="mt-2">
            <strong>Attention :</strong> La borne inférieure ne peut pas être plus tard que la borne supérieure.
          </ngb-alert>
        </div>
      </div>
    </div>
  </div>

  <app-add-event-item
    *ngFor="let item of items"
    [itemId]="item"
    [isDeletable]="isItemsLengthGreaterThan1()"
    (deleteItem)="onDeleteItem($event)"
  ></app-add-event-item>
  <div class="container-md">
    <div class="row">
      <button
        (click)="onAddItem()"
        class="btn btn-outline-primary mt-2 col-md-6"
      >
        Ajouter tache
      </button>
    </div>
    <div class="row">
      <button type="button" class="btn btn-primary mt-2 col-md-6">
        Valider
      </button>
    </div>
  </div>
</div>

<!-- Template de la modale permettant de supprimer tous les évènements -->

<ng-template #contentDeleteAll let-modal>
  <div class="modal-header">
      <h4 class="modal-title" id="modal-title">Suppression de tous les évènements </h4>
      <button type="button" class="btn-close" aria-describedby="modal-title" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
      <p><strong>Etes-vous sur de vouloir supprimer tous les évènements ?</strong></p>
      <p>Toutes les informations liées à ces évènements seront définitivement supprimées.
      <span class="text-danger">Cette opération est irréversible.</span>
      </p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss('cancel click')">Annuler</button>
      <button type="button" class="btn btn-danger" (click)="onDeleteAll()" (click)="modal.close('Ok click')">Supprimer</button>
    </div>
</ng-template>