<div class="container">
    <div class="row m-4">
      <h1 class="col-md-12">Choisir période</h1>
  
      <div class="col-md-8 mt-2">
        <select (change)="selectCustomCheck($event.target.value)" class="form-select">
            <option selected value="notCustomPeriod">Choisir période...</option>
            <option value="notCustomPeriod">Jour</option>
            <option value="notCustomPeriod">Semaine</option>
            <option value="notCustomPeriod">Mois</option>
            <option value="customPeriod">Période personalisée</option>
        </select>
      </div>
      <div class="col-md-4" *ngIf="customPeriodSelected">
        <div class="row">
          <div class="col-md-6 mt-2">
            Date et temps de debut
            <br>
            <input type="date" [(ngModel)]="startDate" class="col-md-6 mt-3" (change)="verifyCustomPeriodSelection()" [ngClass]="{
                'form-control': true,
                'is-invalid': errorMessageOn
              }">
            <input type="time" [(ngModel)]="startTime" class="col-md-6 mt-3" (change)="verifyCustomPeriodSelection()" [ngClass]="{
                'form-control': true,
                'is-invalid': errorMessageOn
              }">
            <br>
          </div>
          <div class="col-md-6 mt-2">
            Date et temps de fin
            <br>
            <input type="date" [(ngModel)]="endDate" class="col-md-6 mt-3" (change)="verifyCustomPeriodSelection()" [ngClass]="{
                'form-control': true,
                'is-invalid': errorMessageOn
              }">
            <input type="time" [(ngModel)]="endTime" class="col-md-6 mt-3" (change)="verifyCustomPeriodSelection()" [ngClass]="{
                'form-control': true,
                'is-invalid': errorMessageOn
              }">
            <br>
          </div>
          <div class="col-md-12" *ngIf="errorMessageOn">
            <ngb-alert [dismissible]="false" [type]="'danger'" class="mt-2">
              <strong>Attention :</strong> Saisie de periode impossible, verifiez les dates de debut et fin.
            </ngb-alert>
          </div>
        </div>
      </div>
    </div>
    <button type="button" [disabled]="errorMessageOn" class="btn btn-primary mt-2 col-md-6">Valider selection</button>
</div>
