#refreshButton {
    float: right;
    background-color: white;
    transition : all 0.4s;
    clip-path: polygon(100% 0%, 100% 65%, 100% 100%, 82% 100%, 82% 0, 100% 0);
    border-radius: 0.2em;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    font-size : 1rem;
}

#refresh{
    color : black;
}

#container{
    clear: both;
    overflow: hidden;
}

#refreshText{
    color : black;
    float: left;
    margin-right: 1em;
    margin-bottom : 0;
}

#refreshButton:hover {
    display: block;
    clip-path: polygon(100% 0%, 100% 65%, 100% 100%, 0 100%, 0 0, 100% 0);
}

#container{
    padding-top : 0.5em;
}

